# print("Hello")

In [11]:
x=10
y=1j
z=["apple", "mango", "oranges"]
g={"Name" : "James", "Age" :"28" }
w=("grapes", "peas", "sugarcane")
r=3.14

print(type(x))
print(type(y))
print(type(z))
print(type(g))
print(type(w))
print(type(r))

<class 'int'>
<class 'complex'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'float'>

In [2]:
#comments. Escape and Newline characters.
print("The itsy bitsy spider\nclimbed up the waterspout.")
print()
print("Down came the rain\nand washed the spider out.")

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

In [3]:
#Using multiple arguments.
print("The itsy bitsy spider" , "climbed up" , "the watersprout.")

The itsy bitsy spider climbed up the watersprout.

In [1]:
1*1

1

In [2]:
#Indentation.
if 10 > 8:
    print("Ten is greater than eight.")
        print("Ten is greater than eight.") #lIne 3 has unexpected indent out of the block.

IndentationError: unexpected indent (658247466.py, line 3)

In [3]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [24]:
#Variables : They are containers for storing data
#They don't need to be declared with any particular type and can change type after they have been set.

x = 5 # x is of type int.
x = "Workforce" # x is of type str.

print(x)

#Variables are case-sensitive.

a = 7
A = "Nairobi"

print(a)
print(A)
print()
print(type(a))
print(type(A))
print()

# "A" do not overwrite "a".

#Assign multiple values

x,y,z = "Busia", "Bungoma", "Eldoret"

print(x)
print(y)
print(z)
print()

#One value to multiple variables

x=y=z = "Mombasa"
print(x)
print(y)
print(z)

#Unpack a collection
#if yoy have a collection of values in a list, tuple e.t.c. Python allows you to extract the values into variables.

fruits = ["Apple", "Mango", "Passion"]
a,b,c = fruits
print()
print(a)
print(b)
print(c)
print()

#Output Variables (print() function is often used to output variables)

f = "Thames computers is "
print(f)

#Multiple variables (Can output multiple variables in the print() function separated by a comma.)
print()
d = "Thames"
e = "Computers"
g = "is"
h = "awesome"

print(d,e,g,h)
print()

#We can also use the + operator.

i = "Thames Computers " #There is a space character after 'computers' and 'is'.
j = "is "
k = "awesome"

print(i+j+k)
print()

#For numbers '+' character works as a mathematical operator.

m = 10
n = 8

print(m+n)
print()
#Global variable. (This are variables created outside a function "as in all the examples above")
#They can be used by both insde and outside the function.

o = "awesome" #(Global variable.)

def myfunc(): #(Function)
    print("Thames Computers is "+ o) #(The 'o' variable will be outputted because 'o' is a global variable.)
    
myfunc()
    
#creating variable with the same name outside and inside a function.

p = "awesome"

def myfunc():
    p = "fantastic" #(Local variable: Can only be used inside the function.)
    print("Thames Computers is "+ p) #(This will output the local variable.)
    
myfunc()

print("Thames Computers is "+ p) #(This will output the global variable.)

#Global keyword (To create a global variable inside a function we use the global keyword.)
#If we use the global keyword, the variabler belongs to the global scope.

def myfunc():
    global q
    q = "marvellous"
    
myfunc()

print("Thames Computers is "+ q)

#Global keyword is also used when you want to change a global variable inside a function.

r = "best"

def myfunc():
    global r
    r = "powerful"
    
myfunc()

print("Butali is the "+ r ,"hockey team in Kenya")

Workforce
7
Nairobi

<class 'int'>
<class 'str'>

Busia
Bungoma
Eldoret

Mombasa
Mombasa
Mombasa

Apple
Mango
Passion

Thames computers is

Thames Computers is awesome

Thames Computers is awesome

18

Thames Computers is awesome
Thames Computers is fantastic
Thames Computers is awesome
Thames Computers is marvellous
Butali is the powerful hockey team in Kenya

In [3]:
#Strings.
#A string is simply a series of characters. (Anthing inside quotes is considered a string in Python, and a you can use single or double quotes around your string.)

"This is Africa."
'This is Africa.'

#The flexibility allows the use of quotes and apostrophes.

"I told Mark, 'rugby' is my favourite sport."
'The force of "gravity" was discovered by Isaac Newton.'
"One of Edwin's book is lost."

#Changing case in a string with Method.

name = "nairobi kenya"
print(name)
print(name.title()) 

#(A Method is an action that Python can perfome on a piece of data.)
#The dot (.) after name in name.title() tells Python to make the title() method act on the variable name.
#Every method is followed by a pair of parentheses, because method often need additional informatiopn to do their work.

nairobi kenya
Nairobi Kenya

# Lists

A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0–9, or the names of
all the people in your family

In [3]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(type(bicycles))

#Using the 'list()' constructor

bike_ = list(('Honda' , 'BMW GS' , 'Yamaha' , 'Hero' , 'Kawasaki' , 'Scooteer' , 'Ktm'))
print(bike_)
print(type(bike_))

['trek', 'cannondale', 'redline', 'specialized']
<class 'list'>
['Honda', 'BMW GS', 'Yamaha', 'Hero', 'Kawasaki', 'Scooteer', 'Ktm']
<class 'list'>

Accessing Elements in a list

In [5]:
print(bicycles[0])
print()

#Capitalizing the first letter.

print(bicycles[0].title())

trek

Trek

In [6]:
#Geetting list length using the len() function.

print(len(bicycles))
print(len(bike_))

4
7

In [8]:
#Working with bolean data types in list.

sol =[True,False,True]
print(sol)

[True, False, True]

In [9]:
#Checking the data type using the type() function.

print(type(sol))

<class 'list'>

In [7]:
#Using the 'list()' constructor to make a list.

thislist = list(("Mango","orange","pineapple")) #Note the double round brackets.
print(thislist)
print(type(thislist))

['Mango', 'orange', 'pineapple']
<class 'list'>


Negative Indexing
This means you start from the end.
[-1] refers to the last item, [-2] refers to the second last item.

In [11]:
print(bicycles[-1])
print()

bike = ['Honda' , 'BMW GS' , 'Kawasaki' , 'Hero' , 'KTM' , 'Yamaha' , 'Scooter']
print(bike[-3])

specialized

KTM

Range of indexes.

-We can specify a range of indexes by specifying where to start and where to end the range.
-When specifying a range, the return value will be a new list with a specified items.

In [12]:
list4=["Audi","BMW","Volkswagen","Toyota","Subaru","Porche","Range Rover"]
#Return list from 2 to 5.
print(list4[2:5])
print()

bike = ['Honda' , 'BMW GS' , 'Kawasaki' , 'Hero' , 'KTM' , 'Yamaha' , 'Scooter']
print(bike[2:5])

#The search will start at index 2(included) and end at index 5(not included).

['Volkswagen', 'Toyota', 'Subaru']

['Kawasaki', 'Hero', 'KTM']

In [14]:
#More on ranges and indexing

#By leaving out the start value, the range will start at the first item.
#(The code returns the items from the begining to, but NOT including, "Subaru" and "KTM".)

print(list4[:4])
print()

print(bike[:4])

['Audi', 'BMW', 'Volkswagen', 'Toyota']

['Honda', 'BMW GS', 'Kawasaki', 'Hero']

In [16]:
#By leaving out the end value, the range will go onto the end of the list.

print(list4[2:])
print()

print(bike[2:])

#The example returns the items from "Volkswagen" and "Kawasaki" to the end of the list.

['Volkswagen', 'Toyota', 'Subaru', 'Porche', 'Range Rover']

['Kawasaki', 'Hero', 'KTM', 'Yamaha', 'Scooter']

Range of Negative Indexes.

-Specify negative indexes if you want to start the search from the end of the list.

In [25]:
print(list4[-5:-1]) #Returns the items from "Volkswagen" [-5] to, but NOT including "Rangerover" [-1]
print(list4[-4:])

['Volkswagen', 'Toyota', 'Subaru', 'Porche']
['Toyota', 'Subaru', 'Porche', 'Range Rover']

Check if an item is present.

-To determine if a specific item is present in a list use the "in" keyword.

In [28]:
if "BMW" in list4:
    print("Yes, 'BMW' is in the list.")
print()

if "Ford" in list4:
    print("Yes, 'Ford' is in the list") #If the item is missing no output will be displayed.

Yes, 'BMW' is in the list.

In [58]:
#Changing values in list.
#To change values in a list refer to the index number.

list5 = ["Nairobi","Kisumu","Nakuru","Mombasa","Kakamega","Narok","Kiambu"]
list5[2]="Kitui"
print(list5)

['Nairobi', 'Kisumu', 'Kitui', 'Mombasa', 'Kakamega', 'Narok', 'Kiambu']

In [59]:
#Change a Range of Item Values
#To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

list5[1:3] = ["Kanduyi" , "Cheptais"]
print(list5)

['Nairobi', 'Kanduyi', 'Cheptais', 'Mombasa', 'Kakamega', 'Narok', 'Kiambu']

Insert Items. 

-To insert a new list item, without replacing any of the existing values, we can use the 'insert()' method. -The 'insert()' method inserts an item at the specified index.

In [61]:
#If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

list5[1:2] = ["Busia" , "Tairi-Mbili"]
print(list5)

['Nairobi', 'Busia', 'Tairi-Mbili', 'Cheptais', 'Mombasa', 'Kakamega', 'Narok', 'Kiambu']

In [62]:
#If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

list5[1:3] = ["Kwale"]
print(list5)

['Nairobi', 'Kwale', 'Cheptais', 'Mombasa', 'Kakamega', 'Narok', 'Kiambu']

Using the insert() function to insert data into a list.

In [9]:
fruits = ["bananas" , "apples" , "mangos"]
fruits.insert(1, "Peas")
print(fruits)

['bananas', 'Peas', 'apples', 'mangos']

Adding items to a list using the append() method.

-Appending is adding items at the end of the list.

In [3]:
fruits.append("guavas")
print(fruits)

['banana', 'Peas', 'apple', 'mango', 'guavas']

In [4]:
#Using extend() method to combine two lists.

toyota = ["Auris" , "Land Cruser" , "Vits" , "Camry"]
german = ["BMW" , "Audi" , "Volkswagen" , "Volvo"]

toyota.extend(german)
print(toyota)

['Auris', 'Land Cruser', 'Vits', 'Camry', 'BMW', 'Audi', 'Volkswagen', 'Volvo']

In [5]:
#Remove elements from a list usinge the remove() function.

toyota.remove("Vits")
print(toyota)

['Auris', 'Land Cruser', 'Camry', 'BMW', 'Audi', 'Volkswagen', 'Volvo']

In [6]:
#Removing specified index using the keyword.

german.pop(3)
print(german)

['BMW', 'Audi', 'Volkswagen']

In [7]:
#Using pop() method without specifying the index of an item it removes the last item in the list.

motorbike = ["GS" , "Honda" , "Kawasaki" , "Yamaha"]
motorbike.pop()
print(motorbike)

['GS', 'Honda', 'Kawasaki']

In [8]:
#Removing list elements by using the delete method del().

del motorbike[2]
print(motorbike)

['GS', 'Honda']

In [9]:
#del() can also be used to delete the entire list.

del motorbike
print(motorbike)

NameError: name 'motorbike' is not defined

In [10]:
#Removing elements using clear()
#clear() method removes the contents of the list, but the list remains.
motorbike = ['GS', 'Honda' , 'Kawaski']
motorbike.clear()
print(motorbike)

[]

LOOPING THROUGH AN ENTIRE LIST.

-We will often want to run all entries in a list performing the same task with each item.
-For example, in a game we might want to move every
element on the screen by the same amount, or in a list of numbers we
might want to perform the same statistical operation on every element. Or
perhaps we will want to display each headline from a list of articles on a website.
When we want to do the same action with every item in a list, we can
use Python’s 'for' loop.

In [1]:
students = ["Alice" , "John" , "Jane" , "Tom"]
for student in students:
    print(student)
    
print()

#We begin by defining a list in 1
#At 2 we drfine a for loop, this line tells Python to pull a name on the list students and store it in the variable student.
#At 3 we tell Python to print the name that was just stored in student.
#Python will then repeat line 2 and 3 once for each name in the list.
#It might help to read this code as:
# “For every student in the list of students, print the student’s name.”
    
machines = ["Audi" , "BMW" , "land rovers" , "Camry"]
for machine in machines:
    print(machine)

Alice
John
Jane
Tom

Audi
BMW
land rovers
Camry

In [12]:
counties = ["Nairobi" , "Kisumu" , "Kwale" , "Nakuru"]
for y in counties:
    print(y)

Nairobi
Kisumu
Kwale
Nakuru

In [15]:
#Printing all items by refering to there index number.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]
for z in range(len(towns)):
    print(towns[z])

Kiambu
Narok
Meru
Eldoret

In [17]:
#Printing all items using the while loop.

africa = ["Kenya" , "Tanzania" , "Uganda" , "Nigeria" , "Congo"]
b = 0
while b < len(africa):
    print(africa[b])
    b = b + 1

Kenya
Tanzania
Uganda
Nigeria
Congo

In [18]:
#Using the shorthand for loop.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]
[print(d) for d in towns]

Kiambu
Narok
Meru
Eldoret

[None, None, None, None]

Sorting lists

In [20]:
#Sorting the list alphabetically using the sort() function.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]




towns.sort()
print(towns)

['Eldoret', 'Kiambu', 'Meru', 'Narok']

In [2]:
#Sorting the list numerically.

age = [102 , 56 , 38 , 23 , 12]
age.sort()
print(age)

[12, 23, 38, 56, 102]

In [7]:
#Sorting in ascending order.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]
towns.sort(reverse = True)
print(towns)

print()

age = [102 , 56 , 38 , 23 , 12]
age.sort(reverse = True)
print(age)

['Narok', 'Meru', 'Kiambu', 'Eldoret']

[102, 56, 38, 23, 12]

In [8]:
#Sorting in descending order.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]
towns.sort(reverse = False)
print(towns)

print()

age = [102 , 56 , 38 , 23 , 12]
age.sort(reverse = False)
print(age)

['Eldoret', 'Kiambu', 'Meru', 'Narok']

[12, 23, 38, 56, 102]

In [6]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [1]:
#Joining lists using append()

list1 = ["a" , "b" , "c"]
list2 = [1 , 2 , 3]

for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [3]:
#Joining two lists

list3 = ["a" , "b" , "c"]
list4 = [1 , 2 , 3]

list5 = list3 + list4
print(list5)

['a', 'b', 'c', 1, 2, 3]

# Tuple.

Tuples are used to store multiple items in a single variable.
It is a collection which is ordered and unchangeable.

In [6]:
thisistuple = ("apple" , "mango" , "banana")
print(thisistuple)
print()

('apple', 'mango', 'banana')

-Tuple items are ordered, unchangable and allow duplicate values
-Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
-Allows duplicate.

In [8]:
#Allows duplicate.

fruits = ("banana" , "apple" , "mango" , "apple")

('banana', 'apple', 'mango', 'apple')

In [9]:
#Checking the length using the len function.

fruits = ("banana" , "apple" , "mango" , "apple")
print(len(fruits))

4

In [10]:
#creating a tuple with one item, remember to put a comma.

fruit = ("apple" ,)
print(fruit)
print(type(fruit))

('apple',)
<class 'tuple'>

-Without the comma in the end , it is not a tuple.

-The tuple() constructor it is also possible to use the tuple() constructor to make a tuple.

In [11]:
fruits = tuple(("apple" , "banana" , "mango")) #Note the double round-brackets
print(fruits)

('apple', 'banana', 'mango')

In [12]:
#Accessing tuple items

fruits = ("apple" , "banana" , "mango")
print(fruits[1])

banana

In [13]:
#Negative indexing.

fruits = ("apple" , "banana" , "mango")
print(fruits[-1])

mango

In [14]:
#You can specify a range of indexes.

fruits = ("apple" , "banana" , "cherry" , "oranges" , "kiwi" , "melon" , "mango")
print(fruits[2:5])

('cherry', 'oranges', 'kiwi')

In [15]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[:4])

('apple', 'banana', 'cherry', 'orange')

In [17]:
#By leaving out the end value, the range will go on to the end of the tuple:

fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

Range of Negative Indexes

-Specify negative indexes if you want to start the search from the end of the tuple:

In [18]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[-4:-1])

#This example returns the items from index -4 (included) to index -1 (excluded)

('orange', 'kiwi', 'melon')

# Sets.

-Sets are unordered collections of unique elements. 
-They are mutable, meaning you can add or remove elements from them.
-Sets are created by enclosing comma-separated elements within culry braces '{}'.

In [1]:
#Creating a set.
first_set = {1,2,3,4,5,6}
print(first_set)

{1, 2, 3, 4, 5, 6}

In [2]:
#Adding Elements in a set.
#To aadd elements we use the add() method.

first_set = {1,2,3,4,5}
first_set.add(6)
print(first_set)

{1, 2, 3, 4, 5, 6}

In [7]:
#To adding more than one argument to a set, we use the update() method.
first_set.update([7,8,9])
print(first_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
#Removing Elements.
#You can remove elements using a remove() method. If the element is not present, it will raisse a keyerror.
#Alternatively you can use the discard() method, which wont raise an error if the element is not present.

first_set.remove(4)
print(first_set)

{1, 2, 3, 5, 6, 7, 8, 9}

In [16]:
second_set = {1,3,5}
second_set.remove(2)
print(second_set)

KeyError: 2

In [14]:
second_set ={1,3,5}
second_set.discard(2)
print(second_set)

{1, 3, 5}

In [13]:
first_set.discard(0)
print(first_set)

{1, 2, 3, 5, 6, 7, 8, 9}

In [18]:
#Length: You can find the length of a set using the len() function.

print(len(first_set))
print(len(second_set))

8
3

In [19]:
#Membership: You can check if the element is present using the 'in' operator.

print(6 in first_set)
print(1 in second_set)

True
True

In [21]:
#Iteration: You can iterate over the elements of a set using a loop.

for num in first_set:
    print(num)
    
print()

for item in second_set:
    print(item)

1
2
3
5
6
7
8
9

1
3
5

In [22]:
#Union: You can perform a union of two sets using the 'union()' method or the '|' operator.

set1 = {1,2,3}
set2 = {4,5,6}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [23]:
#Intersection: You can perform an intersection of two sets using the 'intersection()' method or the '&' operator.

intersection_set = set1.intersection(set2)
print(intersection_set)

#Alternatevily we can use: intersection_set = set1 & set2

set()

In [25]:
#Difference: You can find the difference between two sets using the 'difference()' method or the '-' operator.

diff_set = set1.difference(set2)
print(diff_set)

{1, 2, 3}

# Dictionary.
-They are to store data values in key: value pairs.

-Its ordered, changeable and does not allow duplicates.

-They are written in curly brackets, and have keys and values.

In [2]:
dict_1 = {
    "brand" : "BMW",
    "Model" : "GS1250",
    "Year" : 2020
}
print(dict_1)

{'brand': 'BMW', 'Model': 'GS1250', 'Year': 2020}

In [3]:
#Refering a key value in dictionaries.

print(dict_1["Model"])

GS1250

In [5]:
#overwriting values in dictionaries.

dict_1 = {
    "brand" : "BMW",
    "Model" : "GS1250",
    "Year" : 2020,
    "Year" : 2024
}

print(dict_1)

{'brand': 'BMW', 'Model': 'GS1250', 'Year': 2024}

In [6]:
#Checking the length of the dictionary using the len() function.

print(len(dict_1))

3

In [8]:
#Using the dict() constructor to make a dictionary.

register = dict(Name = "Jacob" , Age = 28 , County = "Nakuru")
print(register)

{'Name': 'Jacob', 'Age': 28, 'County': 'Nakuru'}

In [10]:
#Getting the value of a key using the get() function.

y = dict_1.get("Model")
print(y)

GS1250

In [11]:
#Getting the keys in the dictionary using the keys() method.

x = dict_1.keys()
print(x)

dict_keys(['brand', 'Model', 'Year'])

In [12]:
dict_1["Price"] = 1200000
print(dict_1)

{'brand': 'BMW', 'Model': 'GS1250', 'Year': 2024, 'Price': 1200000}

In [13]:
#Getting the values in the dictionary using the values() method.

z = dict_1.values()
print(z)

dict_values(['BMW', 'GS1250', 2024, 1200000])

In [14]:
#Items() method returns each item in the dictionary, as tuples in a list.

v = dict_1.items()
print(v)

dict_items([('brand', 'BMW'), ('Model', 'GS1250'), ('Year', 2024), ('Price', 1200000)])

In [16]:
#Updatae dictionary using the update() method.
#The update() method will update the dictionary with the items from the given argument.
#The argument must be a dictionary, or an iterable object with key:value pairs.

dict_1.update({"Price" : 1500000})
print(dict_1)

{'brand': 'BMW', 'Model': 'GS1250', 'Year': 2024, 'Price': 1500000}

In [17]:
#REMOVING ITEMS.
#Using pop() method to remove items with a specified key name.

dict_1.pop("Price")
print(dict_1)

{'brand': 'BMW', 'Model': 'GS1250', 'Year': 2024}

In [18]:
#Using ppopitem() method - This removes the last inserted item.

dict_1.popitem()
print(dict_1)

{'brand': 'BMW', 'Model': 'GS1250'}

In [20]:
#Using del() method - It removes item with the specified key name.

del dict_1["brand"]
print(dict_1)

{'Model': 'GS1250'}

In [21]:
#Using clear() method - This empties the dictionary.

dict_1.clear()
print(dict_1)

{}

In [22]:
#Looping through a dictionary.

dict_2 = {
    "Brand" : "BMW", 
    "Model" : "GS 1250",
    "Year" : 2020
}
print(dict_2)

for x in dict_2:
    print(x)

{'Brand': 'BMW', 'Model': 'GS 1250', 'Year': 2020}
Brand
Model
Year

In [23]:
#Using the value() method to return values of a dictionary

for y in dict_2.values():
    print(y)

BMW
GS 1250
2020

In [24]:
#Loop through both keys and values, by using the items() method.

for x, y in dict_2.items():
    print(x,y)

Brand BMW
Model GS 1250
Year 2020

In [25]:
#Copy dictionary by using the copy() method.

dict_3 = dict_2.copy()
print(dict_3)

{'Brand': 'BMW', 'Model': 'GS 1250', 'Year': 2020}

In [26]:
#Making a copy of the dictionary using the dict() function.

dict_4 =dict(dict_2)
print(dict_4)

{'Brand': 'BMW', 'Model': 'GS 1250', 'Year': 2020}